*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
assets/images/np10_b07dbghsn7.png filter=lfs diff=lfs merge=lfs -text
assets/images/np10_cc486e491a2c499f9fd2aad2b02c6ccb.png filter=lfs diff=lfs merge=lfs -text
assets/images/np11_0603aac4bbf241c383115f9da3e38d80.png filter=lfs diff=lfs merge=lfs -text
assets/images/np11_fa2a78dddbbf44589ebe1a315c5077e7.png filter=lfs diff=lfs merge=lfs -text
assets/images/np12_6f9431c68ffa44d0b2e7635d646c4000.png filter=lfs diff=lfs merge=lfs -text
assets/images/np12_8a68419f5d454a28a7bc36da4395be60.png filter=lfs diff=lfs merge=lfs -text
assets/images/np13_39c0fa16ed324b54a605dcdbcd80797c.png filter=lfs diff=lfs merge=lfs -text
assets/images/np13_b07b4d858z.png filter=lfs diff=lfs merge=lfs -text
assets/images/np13_d8258903a23e4a368ede8fd584919b68.png filter=lfs diff=lfs merge=lfs -text
assets/images/np14_2faf0a30b1614a9ba029def4e63270d0.png filter=lfs diff=lfs merge=lfs -text
assets/images/np14_b8f46cf7daca419a87ac8d131bad056f.png filter=lfs diff=lfs merge=lfs -text
assets/images/np15_56f1ef2b84514e5e8c11a42aaab6cda7.png filter=lfs diff=lfs merge=lfs -text
assets/images/np2_2b7c6f4109fa4f84919bd30c367c663b.png filter=lfs diff=lfs merge=lfs -text
assets/images/np2_3cd2cdea87f34bd7acb096f5178b3760.png filter=lfs diff=lfs merge=lfs -text
assets/images/np3_2f6ab901c5a84ed6bbdf85a67b22a2ee.png filter=lfs diff=lfs merge=lfs -text
assets/images/np3_5bbc755b07924fcba6ccd702191f90df.png filter=lfs diff=lfs merge=lfs -text
assets/images/np3_7ba4129133dc46d0818930adb53c0315.png filter=lfs diff=lfs merge=lfs -text
assets/images/np3_7c00a1667b2c4413b4dcb24500f05892.png filter=lfs diff=lfs merge=lfs -text
assets/images/np3_be2e5af368e748b88871ed5776e951bb.png filter=lfs diff=lfs merge=lfs -text
assets/images/np3_c25308e36b3a4c6d9745e01fb34a93a1.png filter=lfs diff=lfs merge=lfs -text
assets/images/np3_d2e1aa2d2b4b424282d3b643fc8169cf.png filter=lfs diff=lfs merge=lfs -text
assets/images/np4_2444ea17f3a448b1bb7e2a74b276f015.png filter=lfs diff=lfs merge=lfs -text
assets/images/np4_4d6e4d3dd9194633ac86285ada1017ad.png filter=lfs diff=lfs merge=lfs -text
assets/images/np4_7bd5d25aa77b4fb18e780d7a4c97d342.png filter=lfs diff=lfs merge=lfs -text
assets/images/np4_80e586911397457aa9245eed1eb03abe.png filter=lfs diff=lfs merge=lfs -text
assets/images/np4_ca27601df1384a7aa152baacfb072306.png filter=lfs diff=lfs merge=lfs -text
assets/images/np5_23ae06bb5cf84e13ae973721fa5f5625.png filter=lfs diff=lfs merge=lfs -text
assets/images/np5_b81f29e567ea4db48014f89c9079e403.png filter=lfs diff=lfs merge=lfs -text
assets/images/np6_b7295d1f9c484a84a53f7ba62ead149e.png filter=lfs diff=lfs merge=lfs -text
assets/images/np6_bd2716459c774dc48fc793f1b76511e8.png filter=lfs diff=lfs merge=lfs -text
assets/images/np7_1749ad163235411295ed3342d024f1ac.png filter=lfs diff=lfs merge=lfs -text
assets/images/np7_1c004909dedb4ebe8db69b4d7b077434.png filter=lfs diff=lfs merge=lfs -text
assets/images/np7_8d3e568f059244e19f3b5f7e789cccb2.png filter=lfs diff=lfs merge=lfs -text
assets/images/np8_a7d7c17eadc54aa5a0094415025463ff.png filter=lfs diff=lfs merge=lfs -text
assets/images/np8_d84dc4fc47614a4687a774152b343ddd.png filter=lfs diff=lfs merge=lfs -text
assets/images/np9_5cc2b8234ff04a2aa29d5f0a0393ed0c.png filter=lfs diff=lfs merge=lfs -text
assets/images/np9_8031fc7690e640038ff6a6766e97f19d.png filter=lfs diff=lfs merge=lfs -text
assets/images/np9_94b4b6d936214b3f988bd4b520da4f53.png filter=lfs diff=lfs merge=lfs -text
assets/images/np9_dd0ec139989c430fb6572fa024ae1c20.png filter=lfs diff=lfs merge=lfs -text
assets/objects/scissors.glb filter=lfs diff=lfs merge=lfs -text
assets/objects/sword.glb filter=lfs diff=lfs merge=lfs -text
assets/robot.gif filter=lfs diff=lfs merge=lfs -text
assets/teaser.png filter=lfs diff=lfs merge=lfs -text
examples/np10_cc486e491a2c499f9fd2aad2b02c6ccb.png filter=lfs diff=lfs merge=lfs -text
