scikit-learn
gpustat
nvitop
diffusers
transformers
einops
opencv-python
trimesh
omegaconf
scikit-image
numpy==1.26.4
peft
jaxtyping
typeguard
matplotlib
imageio-ffmpeg
pyrender
deepspeed
wandb[media]
colormaps
torchvision
https://github.com/camenduru/wheels/releases/download/colab4/torch_cluster-1.6.3-cp311-cp311-linux_x86_64.whl
https://github.com/camenduru/wheels/releases/download/colab4/pytorch3d-0.7.8-cp311-cp311-linux_x86_64.whl