scikit-learn
gpustat
nvitop
diffusers
transformers
einops
opencv-python
trimesh
omegaconf
scikit-image
numpy==1.26.4
peft
jaxtyping
typeguard
matplotlib
imageio-ffmpeg
pyrender
deepspeed
wandb[media]
colormaps
torchvision
torch_cluster @ https://github.com/OutofAi/PyTorch3D-wheels/releases/download/0.7.8/torch_cluster-1.6.3.postHopper271126-cp310-cp310-linux_x86_64.whl